.items-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;

  @include r(768) {
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }

  @include r(550) {
    grid-template-columns: 1fr;
  }

  &--wide {
    grid-template-columns: repeat(5, 1fr);

    @include r(1200) {
      grid-template-columns: repeat(4, 1fr);
    }

    @include r(972) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include r(768) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include r(550) {
      grid-template-columns: 1fr;
    }
  }
}

.item {
  position: relative;
  display: grid;
  grid-row-gap: 15px;

  @include r(1200) {
    padding: 15px;
    background-color: $white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  }

  &::before {
    position: absolute;
    content: '';
    width: calc(100% + 50px);
    height: calc(100% + 35px + 58px);
    left: -25px;
    top: -10px;
    background-color: $white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-40px);
    @include r(1200) {
      display: none;
    }
  }

  &:hover {
    z-index: 2;
    &::before {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }

    .item__button {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }
  }

  @include r(600) {
    grid-row-gap: 6px;
  }

  &__in {
    position: relative;
    z-index: 1;
  }

  &__favorites {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__picture {
    max-width: 70%;
    max-height: 70%;

    @include r(768) {
      max-width: unset;
      max-height: 180px;
    }

    &-wrapper {
      min-height: 240px;
      @include flex-center;
      overflow: hidden;
      margin-bottom: 15px;

      @include r(972) {
        min-height: 180px;
        max-height: 180px;
      }
    }
  }

  &__list {
    margin-bottom: 10px;
  }

  &__info {
    font-size: 0.8rem;
    padding: 10px 0;
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    grid-column-gap: 10px;

    @include r(600) {
      padding: 5px 0;
      grid-template-columns: 1fr 0.25fr;
    }

    &:not(:last-child) {
      border-bottom: 1px solid #D4D4D4;
    }
  }

  &__button {
    width: 100%;
    left: 0;
    right: 0;
    padding-left: 0;
    padding-right: 0;

    @include rmin(1200) {
      position: absolute;
      bottom: -60px;
      transform: translateY(-5px);
      opacity: 0;
      visibility: hidden;
    }

  }
}

@keyframes zIndex {
  to {
    z-index: 5;
  }
}