.production {
  position: relative;

  &__description {
    position: relative;
    line-height: 1.6;
    background-color: $white;
    padding: 30px 0;
    z-index: 1;

    @include r(768) {
      padding: 15px 0;
    }
  }

  @include r(490) {
    .button {
      width: 100%;
    }
  }

  &-slider {
    &__wrapper {
      max-height: 500px;

      .swiper-container {
        height: 500px !important;
      }
      //.swiper-wrapper {
      //  height: 250px !important;
      //}

      //.swiper-slide {
      //  height: 250px !important;
      //}
    }
  }

  &__navigation {
    position: relative;
    height: 100%;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transform: translateX(-60%);

    @include r(1672) {
      transform: translateX(-64%);
    }

    @include r(1580) {
      transform: translateX(-62%);
    }

    @include r(1400) {
      transform: translateX(-63%);
    }

    @include r(1200) {
      transform: translateX(26%);
    }

    &::before {
      position: absolute;
      content: '';
      width: 1px;
      height: calc(100% + 126px);
      left: 50%;
      top: -26px;
      transform: translateX(-50%);
      background-color: $darkGray;

      @include r(1300) {
        display: none;
      }
    }

    &-button {
      position: relative;
      top: auto;
      left: auto;
      right: auto;
      margin: 0;

      span {
        position: relative;

        &::before {
          position: absolute;
          content: '';
          width: 100px;
          height: 130px;
          background-color: $white;
          top: 90%;
          left: 50%;
          transform: translate(-50%, -50%);

        }
      }

      &.swiper-button-next {
        span {
          &::before {
            top: 10%;
          }
        }
      }

      &.swiper-button-disabled {
        svg {
          opacity: .3;
        }
      }

      svg {
        position: relative;
        width: 17px;
        height: 45px;
      }

      &::before {
        position: absolute;
        content: '';
        width: 110px;
        height: 110px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid $darkGray;
        border-bottom-color: transparent;
        border-left-color: transparent;
        border-radius: 50%;
        @include ease;
        z-index: 1;

        @include r(1200) {
          width: 50px;
          height: 50px;
        }
      }

      &.swiper-button-prev {
        svg {
          transform: translateY(10px);

          @include r(1200) {
            transform: translateY(-10px);
          }
        }
        &::before {
          transform: translate(-50%, -50%) rotate(135deg);
        }
      }
      &.swiper-button-next {
        svg {
          transform: translateY(-10px);

          @include r(1200) {
            transform: translateY(10px);
          }
        }
        &::before {
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }

      &:hover {
        &::before {
          border-top-color: $blue;
          border-right-color: $blue;
        }
      }
    }
  }
}

.product {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 50px;
  opacity: 0;
  visibility: hidden;
  @include ease;

  @include r(1000) {
    grid-template-columns: 150px 1fr;
    height: 90%;
  }

  &__picture {
    max-height: 230px;

    @include r(1400) {
      max-height: 170px;
    }

    @include r(1000) {
      max-width: 100%;
      height: auto;
    }

    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }

  &__info {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 6px;
    padding-bottom: 6px;

    &::before {
      position: absolute;
      content: '';
      left: -25px;
      height: 100%;
      width: 1px;
      background-color: $darkGray;
    }
  }
}



.product--active {
  .product {
    opacity: 1;
    visibility: visible;
  }
}