.projects {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    top: -60px;
    width: 1px;
    height: calc(100% + 60px);
    background-color: $darkGray;
    left: calc(50% - 1px);

    @include r(1300) {
      display: none;
    }
  }

  .section__title {
    @include r(768) {
      text-align: center;
    }
  }

  .section__in {
    @include r(768) {
      overflow: visible;
    }
  }


  &__grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 168px);
    border: 1px solid $darkGray;
    border-bottom: none;
    width: calc(100% + 30px);
    left: -25px;

    @include r(1572) {
      grid-template-rows: repeat(4, 140px);
      width: calc(100% + 17px);
      left: -15px;
    }

    @include r(1400) {
      width: calc(100% + 12px);
      left: -10px;
    }

    @include r(1272) {
      width: calc(100% + 14px);
      grid-template-columns: repeat(4, 1fr);
      left: -11px;
    }

    @include r(976) {
      width: calc(100% + 14px);
      grid-template-columns: repeat(3, 1fr);
      left: -11px;
    }

    @include r(768) {
      width: 100%;
      left: 0;
      border: none;
      display: flex;
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
  @include r(768) {
    .swiper-container {
      overflow: visible;
      width: calc(100% + 30px);
      left: -15px;
      z-index: 3;

      &::before,
      &::after {
        position: absolute;
        content: '';
        width: 50px;
        height: 100%;
        top: 0;
        z-index: 3;
      }
      &::before {
        left: -16px;
        background: linear-gradient(90deg, $white 0%, $white 60%, $tr 100%);
      }

      &::after {
        right: -16px;
        background: linear-gradient(90deg, $white 0%, $white 60%, $tr 100%);
        transform: scaleX(-1);
      }
    }
    .swiper-slide {
      @include flex-center;
    }
  }
}

.project {
  position: relative;
  font-size: 0;
  @include flex-center;
  flex-direction: column;
  padding: 15px 10px;

  border-right: 1px solid $darkGray;
  border-bottom: 1px solid $darkGray;
  cursor: pointer;

  @include r(768) {
    width: 161px;
    height: 161px;
    border: 1px solid $darkGray;
    background-color: $white;
    //pointer-events: auto;
  }

  &::before {
    @include ovl;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    left: -1px;
    top: -1px;
    background-color: $white;
    box-shadow: 0 0 50px rgba(13, 79, 178, 0.3);
    opacity: 0;
    @include ease;

    @include r(768) {
      display: none;
    }
  }

  &__logo {
    position: relative;
    max-width: 90%;
    height: auto;
    @include ease;

    filter: grayscale(100%);

    @include r(768) {
      filter: grayscale(0);
    }
  }

  &__title {
    position: relative;
    text-align: center;
    font-size: 0.7rem;
    margin-top: 10px;
    @include ease;

    @include r(1400) {
      line-height: 1.2;
      margin-top: 6px;
    }
  }

  &__description {
    display: none;
  }

  &--active,
  &:hover {
    .project {
      &__logo {
        filter: grayscale(0);
      }
      &__title {
        color: $blue;
      }
    }
  }

  &--active {
    &::before {
      opacity: 1;
    }
  }

  &__popup {
    position: absolute;
    width: 90%;
    background-color: $white;
    box-shadow: 0 0 50px rgba(13, 79, 178, 0.3);
    left: -1px;
    z-index: 1;
    @include ease;
    opacity: 0;
    visibility: hidden;

    @include r(768) {
      position: relative;
      width: 100%;
      left: 0;
      opacity: 1;
      visibility: visible;
    }

    &--visible {
      opacity: 1;
      visibility: visible;
    }

    &-button {
      position: absolute;
      right: 5px;
      top: 5px;

      @include r(768) {
        display: none;
      }

      svg {
        stroke: $darkGray;
        @include ease;
      }

      &:hover {
        svg {
          stroke: $blue;
        }
      }
    }


    &-in {
      position: relative;
      padding: 25px 15px;
      display: grid;
      grid-template-columns: 168px 1fr;
      grid-column-gap: 20px;
      align-items: center;
      @include ease;
      min-height: 169px;

      @include r(1572) {
        min-height: 140px;
        grid-template-columns: 140px 1fr;
      }

      @include r(500) {
        grid-template-columns: auto;
      }
    }

    &-info {
      position: relative;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @include r(500) {
        margin-bottom: 20px;
      }

      &::after {
        position: absolute;
        content: '';
        width: 1px;
        height: 100%;
        right: -10px;
        background-color: $darkGray;
        opacity: .7;

        @include r(500) {
          width: 100%;
          height: 1px;
          right: 0;
          bottom: 0;
        }
      }
    }

    &-logo {
      max-width: 90%;
      height: auto;
    }

    &-title {
      color: $blue;
      text-align: center;
      font-size: 0.7rem;
      margin-top: 10px;

      @include r(1400) {
        line-height: 1.2;
        margin-top: 6px;
      }
    }

    &-text {
      font-size: 0.6rem;

      @include r(500) {
        text-align: center;
      }
    }
  }
}