$dark: #293138;
$white: #ffffff;
$blue: #4D7AE1;
$darkBlue: #4061B2;
$gray: #F8F8F8;
$darkGray: #7B7B7B;
$tr: transparent;

.color-blue {
  color: $blue;
}

.background-gray {
  background-color: $gray;
}
