.link {
  position: relative;
  font-size: 0.9rem;
  display: inline-block;
  color: $darkGray;

  &:hover,
  &:active {
    color: $blue;
  }

  &-back {
    svg {
      stroke: $dark;
      @include ease;
      margin-bottom: 3px;
    }
    &:hover {
      svg {
        stroke: $blue;
      }
    }
  }
  
  &--blue {
    color: $blue;
    &:hover {
      color: $darkGray;
    }
  }
}