<footer class="footer section__wrapper">
    <div class="footer__in">
        <div class="container container--padding pl-0">
            <div class="row">
                <div class="col-xl-3 col-md-5">
                    <div class="footer__column d-flex flex-column justify-content-between align-items-center align-items-md-start h-100 mb-3 mb-xl-0 pl-1 pl-xl-3">
                        <a class="footer__logo" href="home.html">
                            <svg class="footer__logo-icon" width="63" height="63">
                                <use xlink:href="#logo"></use>
                            </svg>
                            <span class="footer__logo-title">EFLIGHT</span>
                            <span class="footer__logo-subtitle">энергоэффективные системы<br> освещения</span>
                        </a>
                        <div class="footer__copyrights mt-md-3 mt-xl-5">© 2021  Группа компаний «EFLIGHT»</div>
                    </div>
                </div>
                <div class="col-xl-5 col-md-7 d-none d-md-block">
                    <div class="footer__column d-flex flex-column justify-content-between align-items-start h-100 mb-3 mb-xl-0 pt-xl-3">
                        <nav class="footer__nav-in">
                            <a class="footer__nav-link nav__link upp" href="#"><span>О компании</span></a>
                            <a class="footer__nav-link nav__link upp" href="#"><span>Продукция</span></a>
                            <a class="footer__nav-link nav__link upp" href="#"><span>Услуги</span></a>
                            <a class="footer__nav-link nav__link upp" href="#"><span>Контакты</span></a>
                        </nav>
                        <div>
                            <div class="footer__info mb-2">
                                <svg width="13" height="15">
                                    <use xlink:href="#geo"></use>
                                </svg>
                                <span>445000, Самарская обл., г. Тольятти, ул. Индустриальная, 9, оф. 325</span>
                            </div>
                            <a class="footer__info" href="mailto:office@ef-light.com">
                                <svg width="14" height="11">
                                    <use xlink:href="#mail"></use>
                                </svg>
                                <span>office@ef-light.com</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-7 offset-md-5 offset-xl-0 d-none d-md-block">
                    <div class="footer__column d-flex flex-column flex-xl-row justify-content-xl-end align-items-start align-items-xl-center">
                        <a class="footer__tel mr-xl-3 my-3 my-xl-0" href="tel:88482959697">8 (8482) 95-96-97</a>
                        <button class="button button--small-padding" data-fancybox data-src="#popup--call">Заказать звонок</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>