<header class="header background-gray">
	<div class="header__in">
		<div class="container">
			<div class="header__top">
				<a class="header__logo" href="home.html">
					<span class="header__logo-in">
						<svg class="header__logo-icon" width="63" height="63">
							<use xlink:href="#logo"></use>
						</svg>
						<span class="header__logo-title">EFLIGHT</span>
						<span class="header__logo-subtitle">энергоэффективные системы<br> освещения</span>
					</span>
				</a>
				<div class="header__nav">
					<button class="burger js-menu" type="button">
						<span class="burger__in">
							<span class="burger__line burger__line--1"></span>
							<span class="burger__line burger__line--2"></span>
							<span class="burger__line burger__line--3"></span>
						</span>
					</button>
					<nav class="header__nav-in">
						<a class="header__nav-link nav__link upp" href="#"><span>О компании</span></a>
						<a class="header__nav-link nav__link upp" href="#"><span>Продукция</span></a>
						<a class="header__nav-link nav__link upp" href="#"><span>Услуги</span></a>
						<a class="header__nav-link nav__link upp" href="#"><span>Контакты</span></a>
					</nav>
				</div>
				<div class="header__info">
					<a class="header__tel" href="tel:88482959697"><span>8 (8482) 95-96-97</span></a>
					<a class="header__download button button--icon" href="#">
						<svg class="button__icon mr-2" width="32" height="38">
							<use xlink:href="#pdf"></use>
						</svg>
						<span>Скачать каталог</span>
					</a>
					<a class="header__favorites button button--outlined" href="#">
						<svg class="header__favorites-icon" width="18" height="22">
							<use xlink:href="#mark"></use>
						</svg>
						<span class="header__favorites-value">12</span>
					</a>
					<form class="header__search">
						<button class="header__search-button js-show-search-input">
							<svg class="header__search-icon" width="23" height="23">
								<use xlink:href="#loupe"></use>
							</svg>
						</button>
						<input class="header__search-input" type="text" placeholder="Напишите наименование товара или его артикул">
						<button class="header__search-submit" type="submit">
							<svg width="23" height="23">
								<use xlink:href="#loupe"></use>
							</svg>
						</button>
					</form>
				</div>
			</div>
		</div>
		<div class="menu">
			<div class="container">
				<div class="menu__in">
					<nav class="menu__nav">
						<div class="menu__nav-link-wrapper">
							<a class="menu__nav-link link upp" href="#"><span>О компании</span></a>
						</div>
						<div class="menu__nav-link-wrapper menu__nav-link-wrapper--with-dropdown js-show-dropdown">
							<a class="menu__nav-link link upp" href="#"><span>Продукция</span></a>
							<span class="menu__dropdown">
								<span class="d-flex flex-column align-items-start">
									<a class="menu__dropdown-link" href="#">Промышленное освещение</a>
									<a class="menu__dropdown-link" href="#">Взрывозащищенное освещение</a>
									<a class="menu__dropdown-link" href="#">Наружное освещение</a>
									<a class="menu__dropdown-link" href="#">Торговое освещение</a>
									<a class="menu__dropdown-link" href="#">Специальное освещение</a>
									<a class="menu__dropdown-link" href="#">Освещение общего применения</a>
									<a class="menu__dropdown-link" href="#">Освещение для ЖКХ</a>
									<a class="menu__dropdown-link" href="#">Складское освещение</a>
								</span>
							</span>
						</div>
						<div class="menu__nav-link-wrapper">
							<a class="menu__nav-link link upp" href="#"><span>Услуги</span></a>
						</div>
						<div class="menu__nav-link-wrapper">
							<a class="menu__nav-link link upp" href="#"><span>Контакты</span></a>
						</div>
					</nav>
					<div class="menu__info">
						<div class="menu__info-item mb-2">
							<svg width="13" height="15">
								<use xlink:href="#geo"></use>
							</svg>
							<span>445000, Самарская обл., г.&nbsp;Тольятти, ул. Индустриальная, 9, оф. 325</span>
						</div>
						<a class="menu__info-item" href="mailto:office@ef-light.com">
							<svg width="14" height="11">
								<use xlink:href="#mail"></use>
							</svg>
							<span>office@ef-light.com</span>
						</a>
					</div>
					<div class="menu__copyrights">© 2021  Группа компаний «EFLIGHT»</div>
				</div>
			</div>
			<div class="menu__decoration"></div>
		</div>
	</div>
</header>