<div class="item">
    <div class="item__in">
        <button class="item__favorites favorites js-favorites">
            {{> fav-icon}}
        </button>
        <div class="item__picture-wrapper">
            <img class="item__picture" src="{{root}}assets/img/products/product-1.jpg" alt="Фото продукта">
        </div>

        <a href="#" class="item__title section__title section__title--h4">
            <span class="color-blue">EL-LED</span> INDUSTRY
            <span class="item__model fontLight">M3 / M3.3</span>
        </a>
        <div class="item__list">
            <div class="item__info">
                <div>Мощность, Вт</div>
                <div>20</div>
            </div>
            <div class="item__info">
                <div>Световой поток, лм</div>
                <div>2700</div>
            </div>
            <div class="item__info">
                <div>Энергетическая эффективность, лм/Вт</div>
                <div>135</div>
            </div>
        </div>

        <button class="item__button button" data-fancybox data-src="#popup--price">Узнать стоимость</button>
    </div>
</div>