<div class="pagination">
    <ul class="pagination">
        <li class="control control_prev">
            <svg width="33" height="10">
                <use xlink:href="#arrow-left"></use>
            </svg>
            <span class="ml-3 d-none d-md-inline">Назад</span>
        </li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li>...</li>
        <li class="page-item"><a class="page-link" href="#">12</a></li>
        <li class="control control_next">
            <a href="#">
                <span class="mr-3 d-none d-md-inline">Вперед</span>
                <svg width="33" height="10">
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </a>
        </li>
    </ul>
</div>