<div class="row">
    <div class="col-xl-4 col-6 mb-3 mb-xl-4 order-2">
        <a class="service service--gray service--color-dark" href="#">
            <div class="service__in">
                <div class="service__title section__title section__title--h3">Индивидуальный <br class="d-xl-inline"> заказ</div>
                <div class="service__text">Когда речь идёт о сложных инженерных системах – например, системах освещения – электромонтажные работы стоит доверять только высококлассным специалистам</div>
                <div class="service__link">
                    <svg class="service__link-arrow" width="65" height="17">
                        <use xlink:href="#arrow-right-wide"></use>
                    </svg>
                </div>
            </div>
            <img class="service__picture" src="{{root}}assets/img/services/service-1.png" alt="Услуга">
        </a>
    </div>
    <div class="col-xl-4 col-6 mb-3 mb-xl-4 order-3">
        <a class="service" href="#">
            <div class="service__in">
                <div class="service__title section__title section__title--h3">Проектирование <br class="d-xl-inline"> освещения</div>
                <div class="service__text service__text--tight">Когда речь идёт о сложных инженерных системах – напр только высококлассным специалистам</div>
                <div class="service__link">
                    <svg class="service__link-arrow" width="65" height="17">
                        <use xlink:href="#arrow-right-wide"></use>
                    </svg>
                </div>
            </div>
            <img class="service__picture" src="{{root}}assets/img/services/service-2.png" alt="Услуга">
        </a>
    </div>
    <div class="col-xl-4 col-12 col-sm-6 mb-0 mb-sm-3 mb-xl-4 order-6 order-sm-4">
        <a class="service" href="#">
            <div class="service__in">
                <div class="service__title section__title section__title--h3">Расчет светотехнического проекта</div>
                <div class="service__text service__text--tight">Когда речь идёт о сложных инженерных системах – например, системах освещения – электромонтажные работы стоит доверять только высококлассным специалистам</div>
                <div class="service__link">
                    <svg class="service__link-arrow" width="65" height="17">
                        <use xlink:href="#arrow-right-wide"></use>
                    </svg>
                </div>
            </div>
            <img class="service__picture" src="{{root}}assets/img/services/service-3.png" alt="Услуга">
        </a>
    </div>
    <div class="col-xl-6 col-6 mb-3 mb-xl-0 order-5">
        <a class="service service--dark-gray service--wide" href="#">
            <div class="service__in">
                <div class="service__title section__title section__title--h3">Монтаж</div>
                <div class="service__text">Когда речь идёт о сложных инженерных системах – например, системах освещения – электромонтажные работы стоит доверять только высококлассным специалистам</div>
                <div class="service__link">
                    <svg class="service__link-arrow" width="65" height="17">
                        <use xlink:href="#arrow-right-wide"></use>
                    </svg>
                </div>
            </div>
            <img class="service__picture" src="{{root}}assets/img/services/service-4.png" alt="Услуга">
        </a>
    </div>
    <div class="col-xl-6 col-6 col-sm-12 order-4 order-sm-6 mb-3 mb-sm-0">
        <a class="service service--wide" href="#">
            <div class="service__in">
                <div class="service__title section__title section__title--h3">Аудит системы освещения</div>
                <div class="service__text">Когда речь идёт о сложных инженерных системах – например, системах освещения – электромонтажные работы стоит доверять только высококлассным специалистам</div>
                <div class="service__link">
                    <svg class="service__link-arrow" width="65" height="17">
                        <use xlink:href="#arrow-right-wide"></use>
                    </svg>
                </div>
            </div>
            <img class="service__picture" src="{{root}}assets/img/services/service-5.png" alt="Услуга">
        </a>
    </div>
</div>