@import "mixins";
@import "fonts";
@import "common/fonts";
@import "common/colors";
@import "common/one-classes";
@import "common/selections";
@import "common/states";
@import "common/inputs";
@import "common/buttons";
@import "common/checkbox";
@import "common/section";
@import "common/links";
@import "common/swiper-custom";
@import "common/fancybox";
@import "common/policy";
@import "common/slider";

html, body {
  position: relative;
  font-family: $mRegular, Roboto, sans-serif;
  font-size: 18px;
  line-height: 1.4;
  color: $dark;
  background-color: $white;
  padding: 0;
  margin: 0;
  max-width: 100%;

  @include r(1572) {
    font-size: 16px;
  }

  @include r(960) {
    font-size: 15px;
  }

  @include r(600) {
    font-size: 14px;
  }

  @include r(375) {
    font-size: 13px;
  }

  &.fixed {
    overflow: hidden;
    padding-right: 15px;
  }
}

.container {
  max-width: 100%;

  &--padding {
    @include containerPaddings;
  }
}

a {
  color: $dark;

  &:hover {
    color: $blue;
  }
}

.layout {
  overflow: hidden;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.svg-sprite {
  position: absolute;
  bottom: 0;
}

.hr--wide {
  position: relative;
  width: 2600px;
  left: 50%;
  transform: translateX(-50%);
}