@font-face {
  font-family: 'MullerHairline';
  src: url('../fonts/MullerHairline.eot');
  src: local('Muller Hairline'), local('MullerHairline'),
  url('../fonts/MullerHairline.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MullerHairline.woff2') format('woff2'),
  url('../fonts/MullerHairline.woff') format('woff'),
  url('../fonts/MullerHairline.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'MullerThin';
  src: url('../fonts/MullerThin.eot');
  src: local('Muller Thin'), local('MullerThin'),
  url('../fonts/MullerThin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MullerThin.woff2') format('woff2'),
  url('../fonts/MullerThin.woff') format('woff'),
  url('../fonts/MullerThin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'MullerUltraLight';
  src: url('../fonts/MullerUltraLight.eot');
  src: local('Muller UltraLight'), local('MullerUltraLight'),
  url('../fonts/MullerUltraLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MullerUltraLight.woff2') format('woff2'),
  url('../fonts/MullerUltraLight.woff') format('woff'),
  url('../fonts/MullerUltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'MullerLight';
  src: url('../fonts/MullerLight.eot');
  src: local('Muller Light'), local('MullerLight'),
  url('../fonts/MullerLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MullerLight.woff2') format('woff2'),
  url('../fonts/MullerLight.woff') format('woff'),
  url('../fonts/MullerLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'MullerRegular';
  src: url('../fonts/MullerRegular.eot');
  src: local('Muller Regular'), local('MullerRegular'),
  url('../fonts/MullerRegular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MullerRegular.woff2') format('woff2'),
  url('../fonts/MullerRegular.woff') format('woff'),
  url('../fonts/MullerRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MullerMedium';
  src: url('../fonts/MullerMedium.eot');
  src: local('Muller Medium'), local('MullerMedium'),
  url('../fonts/MullerMedium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MullerMedium.woff2') format('woff2'),
  url('../fonts/MullerMedium.woff') format('woff'),
  url('../fonts/MullerMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MullerHeavy';
  src: url('../fonts/MullerHeavy.eot');
  src: local('Muller Heavy'), local('MullerHeavy'),
  url('../fonts/MullerHeavy.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MullerHeavy.woff2') format('woff2'),
  url('../fonts/MullerHeavy.woff') format('woff'),
  url('../fonts/MullerHeavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'MullerBold';
  src: url('../fonts/MullerBold.eot');
  src: local('Muller Bold'), local('MullerBold'),
  url('../fonts/MullerBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MullerBold.woff2') format('woff2'),
  url('../fonts/MullerBold.woff') format('woff'),
  url('../fonts/MullerBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'MullerExtraBold';
  src: url('../fonts/MullerExtraBold.eot');
  src: local('Muller ExtraBold'), local('MullerExtraBold'),
  url('../fonts/MullerExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MullerExtraBold.woff2') format('woff2'),
  url('../fonts/MullerExtraBold.woff') format('woff'),
  url('../fonts/MullerExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'MullerBlack';
  src: url('../fonts/MullerBlack.eot');
  src: local('Muller Black'), local('MullerBlack'),
  url('../fonts/MullerBlack.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MullerBlack.woff2') format('woff2'),
  url('../fonts/MullerBlack.woff') format('woff'),
  url('../fonts/MullerBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro.eot');
  src: url('../fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamPro.woff') format('woff'),
  url('../fonts/GothamPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamProBlack';
  src: url('../fonts/GothamPro-Black.eot');
  src: url('../fonts/GothamPro-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamPro-Black.woff') format('woff'),
  url('../fonts/GothamPro-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

